@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg-primary: #24cdc9;
    --bg-btn: #089b80;
    --background: #8fffea9d; 
    --bg-card: #12705f; 
    --bg-nav: #004b3db6;

    --text-gray: #c4c6c7;
    --text-white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar {
    background-color: var(--bg-nav);
    display: flex;
    align-items: center;
    height: 9vh;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    gap: 1rem;
}

#navbar picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar picture img {
    width: 3rem;
    height: 3rem;
}

#navbar nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    gap: 1rem;
    margin: 3rem 0;
}

#navbar nav a {
    color: var(--text-gray);
    text-decoration: none;
}

#navbar nav a.active {
    color: var(--text-white);
}